snippet bib "Bibliography entry" b

[${1:Tag}]
title: ${2:Title}
author: ${3:Authors}
booktitle: ${4:Conference}
year: ${5:`date +%Y`}
month: ${6:`date +%b`}
url: ${7:URL}
project: ${8:Project}

endsnippet
