# Snippet for a python function with comment string following the
# Google style guide: http://google.github.io/styleguide/pyguide.html

snippet def "python function snippet"
def ${1}(${2}):
  """${3:Docstring}

  Args:
      XXX (type): YYY
  Returns:
      XXX
  Raises:
      XXX: YYY
  """
  pass

endsnippet
