snippet module "Module file template" b
-- ${1:Module} module
local module = {}

-- Set up logger for module
local log = hs.logger.new("$1", "info")
module.log = log

module.debug = function(enable)
  if enable then
    log.setLogLevel('debug')
    log.d("Debugging enabled")
  else
    log.d("Disabling debugging")
    log.setLogLevel('info')
  end
end

-- Module contents here
-- e.g. module.foo = function() hs.alert("Hello world") end

return module
endsnippet
